.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px 60px;
}

.header__logo {
    width: 170px;
    margin-right: 64px;
}

.header__menu {
    margin-right: auto;
    margin-left: 0;
}

.header__menu__item {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 24px;
    color: #807E81;
}

.header__menu__item svg{
    margin-right: 8px;
    /* fill = troca cor do icone svg */
    fill: #807E81;
}

.header__menu__item--active {
    color: #FFFFFF;
}

.header__menu__item--active svg {
    fill: #FFFFFF;
}