.button {
    height: 40px;
    padding: 10px 24px;
    background-color: #F41B3B;
    border-radius: 3px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 20px;
    border: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 20px;
}

.button--large {
    height: 60px;
    padding: 10px 40px;
}

@media (max-width: 480px) {
    .button {
        height: 26px;
        padding: 4px 10px;
        font-size: 12px;
        line-height: 18px;
    }

    .button--large {
        height: 48px;
        font-size: 16px;
        padding: 14px 20px;
    }
}