.slider__header {
    display: flex;
}

.slider__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.5px;
    color: white;
}

.slider__more {
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.slider__more svg {
    fill: #F41B3B;
    margin-left: 8px;
}

